{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>About</h1>
    <p>We Are a Group of Eclipse Enthusiasts Planning to View the Next Eclipse in 2024.</p>
    <p><img src="{% static 'images/about_eclipse.jpg' %}" alt="About Eclipse Image" width="660"></p>
    <p>Welcome to our community of eclipse enthusiasts! Our passion for celestial events brings us together as we eagerly anticipate the next solar eclipse in 2024. We are a dedicated group of amateur astronomers, skywatchers, and nature lovers committed to experiencing the awe-inspiring moment when the moon passes between the Earth and the sun, casting a shadow that briefly turns day into night.
<br>
      Our mission is to share knowledge, enhance our understanding of eclipses, and plan the best possible viewing experiences. Whether you're a seasoned eclipse chaser or new to the wonders of the cosmos, we welcome you to join us in our journey toward the 2024 eclipse.
      <br> <br>
      In preparation for this spectacular event, we're organizing viewing parties, educational workshops, and travel plans to witness the eclipse from optimal locations. Our community fosters a supportive environment where members can exchange tips, share their experiences, and collaborate on eclipse-related projects.
      <br>
      Stay connected with us as we count down to the 2024 eclipse. Explore our site to find resources, event updates, and opportunities to engage with fellow enthusiasts. Together, we'll embark on a celestial adventure that celebrates the beauty and mystery of the universe.
      <br>
      Join us as we look forward to one of nature's most breathtaking displays. Let's experience the wonder of the eclipse together and create memories that will last a lifetime!.</p>
</div>
{% endblock %}
